*{
    padding: 0%;
    margin: 0%;
}

@import "base/variables";
@import "base/mixin";
@import "base/maps";
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Titan+One&display=swap');

body{  
    header{
    .barraMenu{
        display: flex;
        background-color:rgba(255, 255, 255, 0.868);
        font-size: 1rem;
        justify-content: center;
        justify-items: center;
        font-family: $fuente2;
        div{
            width: 30%;
            text-align: center;
            justify-items: center;
            justify-content: center;
            input{
                font-size: 1rem;
                font-family: $fuente;
                text-decoration: black;
            }
            i{
                img{
                    height: 3rem;
                    padding-right: 1rem;
                };
                span{
                    font-family: $fuente;
                    position: fixed;
                    top: 0.5rem;
                    right: 1rem;
                 }
    
                }
            }
        };
        nav{
            width: 70%;
            align-content: flex-end;
            padding:2rem;
            font-family: $fuente;
            font-size: 1rem;
            ul{
                list-style: none; 
                text-align: center;
                text-transform: uppercase;
                li{
                    background-color: $color-boton;
                    display: inline-block;
                    padding: 0.1rem;
                    margin: 0.3rem;
                        
                };
                li:hover{
                    transform: scale(1.05);
                    /*
                    border-radius: 0.5rem;
                    */
                    background-color: $color-hover;
                             
                }
            }

        }


    } 

}



//PROPIEDADES DEL FORMULARIO//

html {
  font-family: $fuente;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button {
  overflow: visible;
    input{
        line-height: normal;
        select {
        text-transform: none;
            textarea{
                color: #e21717;
                font: inherit;
                margin: 0;
                overflow: auto;
            }
        }
    }
    
}


#container {
  font-family: $fuente;
  border: solid 3px $border;
  max-width: 768px;
  margin: 2rem auto;
    h1 {
        padding: 1rem;
        color: $color-text;
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 7px;
        text-align: center;
        text-transform: uppercase;
        @include media(xs) {
            font-size: 26px;
        };
        };
    form {
        padding: 2rem;
        .message {
            textarea {
                line-height: 150%;
                height: 150px;
                resize: none;
                width: 100%;
            };
            };
        .name {
            width: 100%;
            };
        .email {
            width: 100%;
            };
        .password {
            width: 100%;
            };
        input[type='text'], [type='email'], select, textarea {
                background: none;
                border: none;
                border-bottom: solid 2px $border;
                color: $color-text;
                font-size: 1.000em;
                font-weight: 400;
                letter-spacing: 1px;
                margin: 0em 0 1.875em 0;
                padding: 0 0 0.875em 0;
                text-transform: uppercase;
                width: 100%;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                -ms-box-sizing: border-box;
                -o-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -ms-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;  
                   
                  };
            input[type='text']:focus, [type='email']:focus, textarea:focus {
                    outline: none;
                    padding: 0 0 0.875em 0;
                  };
        .subject {
            width: 100%;
                select {
                    background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
                    outline: none;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                  };  
            select::-ms-expand {
                    display: none;
                  };
                  

                };
        .submit{
            text-align: center;
            #btn_contacto{
                @extend #btn_registrar
            };
            #btn_registrar {
                background: $color-boton;
                color: $color-text-contraste;
                border: none;
                display: inline-block;
                font-size: 0.875em;
                    padding: 20px 35px;
                    text-transform: uppercase;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -ms-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    transition: all 0.3s;
                    &:hover{
                        background: $color-hover;
                        color: $color-text-contraste;
                    };
                    @include media(xs) {
                        padding: 15px 25px;
                    }
                   
                      
                    
                  }
                  
                
            };
        .alertas{
            padding: 2rem;
            font-family: $fuente;
            color: $text-alert;
            li{list-style: none;}
        }       
        }
}

//PROPIEDADES CUANDO NO HAY NADA ESCRITO//
::-webkit-input-placeholder {
  color: $text-alert;
}
:-moz-placeholder { 
  color: $text-alert;
  opacity: 1;
}
::-moz-placeholder {
  color: $text-alert;
  opacity: 1;
}
:-ms-input-placeholder {
  color: $text-alert;
}


//ESTILOS DEL CARD//
.mainindex{background-image: url(../img/banera.png);};
body{
    
    main{
        margin-top: 5rem;
        div{
            div{
                h1{
                    font-size: 1rem;
                }
                h2{
                    font-size: 1rem;
                }
            }
        }
        .msjBievenida{
            display: grid;
            text-align: center;
            height: 10vh;
            align-items: center;
            font-family: $fuente2;
            font-size: 2rem;
            background-color: rgba(255, 255, 255, 0.268);
        }
        div.productos{
            display: grid;
            grid-template-rows: 200px 200px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template: 
                    'prd1 prd2 prd3'
                    'prd4 prd5 prd6'
                    ;
        .prd1{
            grid-area: prd1;
            @extend %cards;
            
            };
        };
        div{
            
            div{
               
                .boton{
                    a{
                        font-family: $fuente;
                        text-decoration: none;
                        color: white;
                    };
                    font-size: 1rem;
                    background-color: $color-boton;
                    text-align: center;
                    margin-left: 10%;
                    margin-right: 10%;
                    margin-bottom: 10%;
                    padding: 0.5%;
                    &:hover{
                        transform: scale(1.05);
                        background-color: rgb(37, 37, 111);
                    
                    }

                }
            }
        }
        

};

}



/* PROPIEDADES PUNTUALES CARRITO */

#badgeCarrito {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    font-size: 0.6rem;
    background-color: $color-hover !important;
}
.offcanvas {
    margin-top: 4rem;
}

#finalizar{
    background-color: transparent;
    border: 0cm;
    color: white
}



