$breakpoint-xs: 480px;
$breakpoint-sm: 600px;

$color-boton: #000080;
$color-hover: #000080e9;
$border: #000080;
$color-text: #000080;
$color-text-contraste: white;
$text-alert: #ff000098;
$fuente: 'Roboto', sans-serif;
//$fuente: 'Times New Roman', Times, serif ;
